<h1>BACKET</h1>

<div id="backet">

{{#if data.length}}
<table>
    <tr>
        <th colspan="2">ТОВАР</th>
        <th>К-ТЬ</th>
        <th>ЦІНА</th>
        <th  colspan="2">СУМА</th>
    </tr>
{{#each data}}
    <tr id="{{id}}">
        <td><img src="{{img}}" alt="{{title}}"></td>
        <td>{{title}}</td>
        <td>
            <a class="btn-floating btn-smal waves-effect waves-light red">
                <i class="material-icons backet_remove">remove</i>
            </a>
            <input type="text" class="browser-default backet_counter" value="{{count}}">
            <a class="btn-floating btn-smal waves-effect waves-light red">
                <i class="material-icons backet_add">add</i>
            </a>
        </td>
        <td class="backet_price">{{price}}</td>
        <td class="backet_sum">{{sum}}  </td>
        <td>
            <a class="btn-floating btn-smal waves-effect waves-light red">
                <i class="material-icons backet_close" id="{{id}}">close</i>
            </a>
        </td>
    </tr>
{{/each}}
    </table>
    <h3 id="backet_sumAll">{{sumAll}}</h3>
{{else}}
    <p>КОРЗИНА ПУСТА</p>
{{/if}}
</div>


{{!-- <ul class="collection">
    <li class="collection-item-avatar">
        <img src="{{img}}" alt="{{title}}">
        <span class="title">{{title}}</span>

        <div class="backet_control">
            <a class="btn-floating btn-smal waves-effect waves-light red">
                <i class="material-icons backet_remove" name="{{id}}">remove</i>
            </a>
            <input type="text" class="browser-default backet_counter" name="{{id}}" value="{{count}}">
            <a class="btn-floating btn-smal waves-effect waves-light red">
                <i class="material-icons backet_add" name="{{id}}">add</i>
            </a>
        </div>
        <span class="backet_price">{{price}}</span>
        <span class="backet_sum">{{sum}}</span>
        
        <a href="#!" class="secondary-content" onclick="backetCloseItem(event)"><i class="material-icons" name="{{id}}">close</i></a>
    </li>
</ul> --}}