<h1>BACKET</h1>


{{#if data.length}}
  
{{#each data}}
    <div class="backet_wrapper">
        <div>
            <img src={{img}} alt={{title}}>
            <div>{{title}}</div>
            <div>{{price}}</div>
            <div>{{count}}</div>
            <div>{{sum}}</div>
        </div>
   </div>         
            

{{/each}}
    
{{else}}
    <p>nope</p>
{{/if}}