<h1>POSTS page</h1>
<a href="http:/">ГОЛОВНА</a>

{{#if product.length}}
{{#each product}}
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-image">
        <img src={{img}} title={{title}}>
        <span class="card-title">{{title}}</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        <span>ЦІНА</span>
        <p class="prices">{{price}}</p>
      </div>
      <div class="card-action">
        <span>Хочеш спробувати створити самому. Жми нижче</span>
        <br>
        <div>
          <a href="/posts/{{id}}" target="_blank">РЕЦЕПТ</a>
          <a href="/posts/{{id}}/edit?allow=true">РЕДАКТУВАТИ</a>
          <form action="#">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-primary" onclick="backet_fetchToServer(event)">
              <i class="small material-icons">shopping_cart</i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}  

{{else}}
  <p>nope</p>
{{/if}}